onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=@scarf/scarf
onlyBuiltDependencies[]=bcrypt
onlyBuiltDependencies[]=better-sqlite3
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=prisma
